.component-input {
  background-color: transparent;
  direction: rtl !important;
  border: 1px solid rgba(164, 164, 164, 1);
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 20.2px;
  transition: all 0.5s;
  &::placeholder {
    font-size: 15px;
    color: rgba(164, 164, 164, 1);
  }
  &:focus {
    outline: 0px;
    border: 0.1rem solid #ffa500;
  }
}
