.component-input {
  background-color: transparent;
  font-family: Iranian Sans, sans-serif !important;
  direction: rtl !important;
  border: 0.1rem solid rgba(164, 164, 164, 1);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  font-size: 2.2rem;
  color: rgba(0, 78, 152, 1);
  transition: all 0.5s;
  &::placeholder {
    font-size: 2rem;
    color: rgba(164, 164, 164, 1);
  }
  &:focus {
    outline: 0px;
    border: 0.1rem solid rgba(0, 78, 152, 1);
  }
}
