.component-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #ffe002;
  border: none;
  transition: all 0.5s;
  background: rgba(3, 3, 3, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(3, 3, 3, 0.18);
  &:hover {
    color: #1c1c1c;
    background: rgba(255, 182, 6, 0.84);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    border: 1px solid rgba(255, 182, 6, 0.26);
    transform: scale(1.1);
  }
}
