.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  &_children {
    width: 100vw;
    height: 100vh;
  }
  &_button {
    cursor: pointer;
    border-radius: 50%;
    top: 88vh;
    width: 3.8rem;
    height: 3.8rem;
    position: fixed;
    z-index: 2;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #b28228;
    color: #ffe002;
    &:hover {
      color: #1c1c1c;
     background-color: #ffb606;
          border: 2px solid #b28228;
    }
  }
  &_footer {
    padding-top: 1vh;
    border: 1px solid #b28228;
    position: fixed;
    width: 100vw;
    height: 20vh;
    top: 80vh;
    z-index: 3;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;
    &-unactive {
      top: 100vh;
      height: 0vh;
      overflow: hidden;
      border: 1px solid #b28228;
      position: fixed;
      width: 100vw;
      z-index: 3;
      background-color: #3b3b3b;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: all 0.5s;
    }
    &_top {
      width: 100vw;
      height: 5vh;
      display: grid;
      place-items: center;
      &_button {
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        border: 2px solid #b28228;
        border-radius: 50%;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: #ffb606;
          border: 2px solid #b28228;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
    }
    &_bottom {
      width: 100vw;
      height: 15vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      &_button {
        text-decoration: none;
        color: #ffe002;
        width: 20vw;
        height: 7vh;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        transition: all 0.5s;
        background: rgba(3, 3, 3, 0.27);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(3, 3, 3, 0.18);
        &:hover {
          color: #1c1c1c;
          background: rgba(255, 182, 6, 0.84);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(15.5px);
          -webkit-backdrop-filter: blur(15.5px);
          border: 1px solid rgba(255, 182, 6, 0.26);
        }
      }
    }
  }
}
